<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607351016936-mivu260p78pahrmknfpunc7es3ak90or.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607351016936-mivu260p78pahrmknfpunc7es3ak90or</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>607351016936-mmk4uluu48pku68cnsa2dc8hufacrqho.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7FplIfLH1J7RVoRxOldZUPiJuUmygtZY</string>
	<key>GCM_SENDER_ID</key>
	<string>607351016936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vuoncuabe</string>
	<key>PROJECT_ID</key>
	<string>vcb-app-a0f27</string>
	<key>STORAGE_BUCKET</key>
	<string>vcb-app-a0f27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607351016936:ios:160a4f591b0a42c402285d</string>
	<key>DATABASE_URL</key>
	<string>https://vcb-app-a0f27.firebaseio.com</string>
</dict>
</plist>